openapi: 3.0.3
info:
  title: Healthcare Platform API
  description: |
    Comprehensive Healthcare Platform API for managing patients, providers, 
    appointments, claims, payments, and more.
    
    ## Authentication
    Most endpoints require JWT authentication. Include the token in the 
    `Authorization` header as `Bearer <token>`.
    
    ## Rate Limits
    - Anonymous endpoints: 30 requests/minute
    - Authenticated endpoints: 100 requests/minute
    - Admin endpoints: 30 requests/minute
    
    ## Versioning
    API version is specified in the URL path (e.g., `/api/v1/...`) or 
    via the `X-API-Version` header.
  version: 1.0.0
  contact:
    name: Healthcare Platform Support
    email: support@healthcare.com
    url: https://healthcare.com/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.healthcare.com/v1
    description: Production server
  - url: https://staging-api.healthcare.com/v1
    description: Staging server
  - url: http://localhost:3000/api
    description: Development server

tags:
  - name: Auth
    description: Authentication and authorization endpoints
  - name: Providers
    description: Healthcare provider management
  - name: Appointments
    description: Appointment scheduling and management
  - name: Patients
    description: Patient management
  - name: Claims
    description: Insurance claims processing
  - name: Payments
    description: Payment processing
  - name: Reports
    description: Analytics and reporting
  - name: Admin
    description: Administrative operations

paths:
  # ==================== Health ====================
  /health:
    get:
      tags: [Health]
      summary: API Health Check
      description: Returns the health status of the API
      operationId: getHealth
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  # ==================== Auth ====================
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      operationId: register
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          description: User already exists

  /auth/login:
    post:
      tags: [Auth]
      summary: User login
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      operationId: refreshToken
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Auth]
      summary: User logout
      operationId: logout
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful

  # ==================== Providers ====================
  /providers/search:
    get:
      tags: [Providers]
      summary: Search healthcare providers
      description: Search and filter healthcare providers by various criteria
      operationId: searchProviders
      security:
        - bearerAuth: []
      parameters:
        - name: q
          in: query
          description: Search query (name, specialty, condition)
          schema:
            type: string
        - name: specialty
          in: query
          description: Filter by specialty
          schema:
            type: string
        - name: city
          in: query
          description: Filter by city
          schema:
            type: string
        - name: state
          in: query
          description: Filter by state
          schema:
            type: string
        - name: insurance
          in: query
          description: Filter by accepted insurance
          schema:
            type: string
        - name: min_rating
          in: query
          description: Minimum rating (1-5)
          schema:
            type: number
            minimum: 1
            maximum: 5
        - name: telehealth_available
          in: query
          description: Filter for telehealth availability
          schema:
            type: boolean
        - name: accepting_new_patients
          in: query
          description: Filter for providers accepting new patients
          schema:
            type: boolean
        - name: latitude
          in: query
          description: User latitude for distance calculation
          schema:
            type: number
        - name: longitude
          in: query
          description: User longitude for distance calculation
          schema:
            type: number
        - name: max_distance
          in: query
          description: Maximum distance in miles
          schema:
            type: number
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [relevance, rating, distance, experience, reviews]
            default: relevance
      responses:
        '200':
          description: List of providers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderSearchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /providers/{id}:
    get:
      tags: [Providers]
      summary: Get provider details
      operationId: getProvider
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - name: latitude
          in: query
          schema:
            type: number
        - name: longitude
          in: query
          schema:
            type: number
      responses:
        '200':
          description: Provider details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
        '404':
          $ref: '#/components/responses/NotFound'

  /providers/{id}/availability:
    get:
      tags: [Providers]
      summary: Get provider availability
      operationId: getProviderAvailability
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Provider availability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAvailability'

  /providers/{id}/slots:
    get:
      tags: [Providers]
      summary: Get available appointment slots
      operationId: getProviderSlots
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Available slots
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableSlots'

  /providers/{id}/reviews:
    get:
      tags: [Providers]
      summary: Get provider reviews
      operationId: getProviderReviews
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: sort_by
          in: query
          schema:
            type: string
            enum: [date, rating, helpful]
            default: date
      responses:
        '200':
          description: Provider reviews
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewListResponse'

  /providers/{id}/favorite:
    post:
      tags: [Providers]
      summary: Add provider to favorites
      operationId: addFavoriteProvider
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProviderId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                patient_id:
                  type: integer
                notes:
                  type: string
      responses:
        '200':
          description: Provider added to favorites

  # ==================== Appointments ====================
  /appointments/book:
    post:
      tags: [Appointments]
      summary: Book an appointment
      operationId: bookAppointment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookAppointmentRequest'
      responses:
        '201':
          description: Appointment booked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          description: Time slot no longer available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /appointments/patient/{patientId}:
    get:
      tags: [Appointments]
      summary: Get patient appointments
      operationId: getPatientAppointments
      security:
        - bearerAuth: []
      parameters:
        - name: patientId
          in: path
          required: true
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
            enum: [scheduled, confirmed, completed, cancelled, no_show]
        - name: upcoming
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of appointments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentListResponse'

  /appointments/{id}:
    get:
      tags: [Appointments]
      summary: Get appointment details
      operationId: getAppointment
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Appointment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Appointments]
      summary: Update appointment
      operationId: updateAppointment
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppointmentRequest'
      responses:
        '200':
          description: Appointment updated
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Appointments]
      summary: Cancel appointment
      operationId: cancelAppointment
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Appointment cancelled

  # ==================== Claims ====================
  /claims:
    get:
      tags: [Claims]
      summary: List claims
      operationId: listClaims
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, denied, processing]
        - name: patient_id
          in: query
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: List of claims
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimListResponse'

    post:
      tags: [Claims]
      summary: Submit a claim
      operationId: submitClaim
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitClaimRequest'
      responses:
        '201':
          description: Claim submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Claim'

  /claims/{id}:
    get:
      tags: [Claims]
      summary: Get claim details
      operationId: getClaim
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Claim details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Claim'

  # ==================== Payments ====================
  /payments:
    get:
      tags: [Payments]
      summary: List payments
      operationId: listPayments
      security:
        - bearerAuth: []
      parameters:
        - name: patient_id
          in: query
          schema:
            type: integer
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, completed, failed, refunded]
      responses:
        '200':
          description: List of payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentListResponse'

    post:
      tags: [Payments]
      summary: Process a payment
      operationId: processPayment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessPaymentRequest'
      responses:
        '201':
          description: Payment processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'

  # ==================== Reports ====================
  /reports/analytics:
    get:
      tags: [Reports]
      summary: Get analytics dashboard
      operationId: getAnalytics
      security:
        - bearerAuth: []
      parameters:
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /auth/login

    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for external integrations

  parameters:
    ProviderId:
      name: id
      in: path
      required: true
      description: Provider ID
      schema:
        type: integer

    PatientId:
      name: patientId
      in: path
      required: true
      description: Patient ID
      schema:
        type: integer

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'

    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [OK, DEGRADED, DOWN]
        timestamp:
          type: string
          format: date-time
        uptime:
          type: number
        services:
          type: object
          properties:
            database:
              type: string
              enum: [healthy, unhealthy]
            cache:
              type: string
              enum: [healthy, unhealthy]
            queue:
              type: string
              enum: [healthy, unhealthy]

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object

    ValidationError:
      type: object
      properties:
        error:
          type: string
          example: Validation failed
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string

    RegisterRequest:
      type: object
      required: [email, password, firstName, lastName, role]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 6
        firstName:
          type: string
        lastName:
          type: string
        role:
          type: string
          enum: [patient, provider, admin]
        phone:
          type: string
        dateOfBirth:
          type: string
          format: date

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        message:
          type: string
        accessToken:
          type: string
        refreshToken:
          type: string
        user:
          $ref: '#/components/schemas/User'

    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer

    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        role:
          type: string
        createdAt:
          type: string
          format: date-time

    Provider:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        professional_title:
          type: string
        specialties:
          type: array
          items:
            type: string
        primary_specialty:
          type: string
        bio:
          type: string
        rating:
          type: number
        average_rating:
          type: number
        total_reviews:
          type: integer
        years_of_experience:
          type: integer
        languages_spoken:
          type: array
          items:
            type: string
        gender:
          type: string
        phone:
          type: string
        email:
          type: string
        website:
          type: string
        address_line1:
          type: string
        city:
          type: string
        state:
          type: string
        zip_code:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        distance:
          type: number
          description: Distance in miles (if user coordinates provided)
        accepts_new_patients:
          type: boolean
        telehealth_available:
          type: boolean
        consultation_fee:
          type: number
        insurance_accepted:
          type: array
          items:
            type: string
        hospital_affiliations:
          type: array
          items:
            type: string
        education:
          type: array
          items:
            type: string
        board_certifications:
          type: array
          items:
            type: string
        profile_image_url:
          type: string
        next_available:
          type: string
          format: date

    ProviderSearchResponse:
      type: object
      properties:
        providers:
          type: array
          items:
            $ref: '#/components/schemas/Provider'
        pagination:
          $ref: '#/components/schemas/Pagination'
        filters:
          type: object
          properties:
            applied:
              type: object

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        pages:
          type: integer

    ProviderAvailability:
      type: object
      properties:
        regular_availability:
          type: array
          items:
            type: object
            properties:
              day_of_week:
                type: integer
              opening_time:
                type: string
              closing_time:
                type: string
              appointment_duration_minutes:
                type: integer
        special_availability:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              is_available:
                type: boolean
              reason:
                type: string
        existing_appointments:
          type: array
          items:
            type: object

    AvailableSlots:
      type: object
      properties:
        date:
          type: string
          format: date
        slots:
          type: array
          items:
            type: object
            properties:
              start_time:
                type: string
                format: date-time
              end_time:
                type: string
                format: date-time
              display_time:
                type: string
              available:
                type: boolean
        appointment_duration:
          type: integer

    Review:
      type: object
      properties:
        id:
          type: integer
        provider_id:
          type: integer
        patient_name:
          type: string
        overall_rating:
          type: integer
          minimum: 1
          maximum: 5
        bedside_manner_rating:
          type: integer
        wait_time_rating:
          type: integer
        staff_friendliness_rating:
          type: integer
        title:
          type: string
        review_text:
          type: string
        helpful_count:
          type: integer
        created_at:
          type: string
          format: date-time
        provider_response:
          type: string
        provider_response_date:
          type: string
          format: date-time

    ReviewListResponse:
      type: object
      properties:
        reviews:
          type: array
          items:
            $ref: '#/components/schemas/Review'
        pagination:
          $ref: '#/components/schemas/Pagination'
        rating_distribution:
          type: array
          items:
            type: object
            properties:
              overall_rating:
                type: integer
              count:
                type: integer

    BookAppointmentRequest:
      type: object
      required: [patient_id, provider_id, date, time]
      properties:
        patient_id:
          type: integer
        provider_id:
          type: integer
        date:
          type: string
          format: date
        time:
          type: string
          pattern: '^([01]?[0-9]|2[0-3]):[0-5][0-9]$'
        duration_minutes:
          type: integer
          default: 30
        appointment_type:
          type: string
          enum: [consultation, follow_up, procedure, telemedicine]
          default: consultation
        notes:
          type: string
        reason_for_visit:
          type: string
        virtual:
          type: boolean
          default: false

    Appointment:
      type: object
      properties:
        id:
          type: integer
        patient_id:
          type: integer
        provider_id:
          type: integer
        provider_name:
          type: string
        provider_specialty:
          type: string
        appointment_date:
          type: string
          format: date-time
        duration_minutes:
          type: integer
        appointment_type:
          type: string
        status:
          type: string
          enum: [scheduled, confirmed, completed, cancelled, no_show]
        notes:
          type: string
        reason_for_visit:
          type: string
        virtual:
          type: boolean
        meeting_link:
          type: string
        created_at:
          type: string
          format: date-time

    AppointmentResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        appointment_id:
          type: integer
        appointment:
          $ref: '#/components/schemas/Appointment'
        provider:
          type: object
          properties:
            name:
              type: string
            phone:
              type: string
            email:
              type: string
            address:
              type: string

    AppointmentListResponse:
      type: object
      properties:
        appointments:
          type: array
          items:
            $ref: '#/components/schemas/Appointment'
        pagination:
          type: object
          properties:
            total:
              type: integer
            limit:
              type: integer
            offset:
              type: integer
            hasMore:
              type: boolean

    UpdateAppointmentRequest:
      type: object
      properties:
        appointment_date:
          type: string
          format: date-time
        duration_minutes:
          type: integer
        status:
          type: string
          enum: [scheduled, confirmed, completed, cancelled, no_show]
        notes:
          type: string

    Claim:
      type: object
      properties:
        id:
          type: integer
        patient_id:
          type: integer
        provider_id:
          type: integer
        policy_id:
          type: integer
        claim_number:
          type: string
        amount:
          type: number
        status:
          type: string
          enum: [pending, approved, denied, processing]
        service_date:
          type: string
          format: date
        submission_date:
          type: string
          format: date
        processed_date:
          type: string
          format: date
        diagnosis_codes:
          type: array
          items:
            type: string
        procedure_codes:
          type: array
          items:
            type: string

    ClaimListResponse:
      type: object
      properties:
        claims:
          type: array
          items:
            $ref: '#/components/schemas/Claim'
        pagination:
          $ref: '#/components/schemas/Pagination'

    SubmitClaimRequest:
      type: object
      required: [patient_id, provider_id, policy_id, amount, service_date]
      properties:
        patient_id:
          type: integer
        provider_id:
          type: integer
        policy_id:
          type: integer
        amount:
          type: number
        service_date:
          type: string
          format: date
        diagnosis_codes:
          type: array
          items:
            type: string
        procedure_codes:
          type: array
          items:
            type: string
        notes:
          type: string

    Payment:
      type: object
      properties:
        id:
          type: integer
        patient_id:
          type: integer
        amount:
          type: number
        currency:
          type: string
          default: USD
        status:
          type: string
          enum: [pending, completed, failed, refunded]
        payment_method:
          type: string
        transaction_id:
          type: string
        created_at:
          type: string
          format: date-time

    PaymentListResponse:
      type: object
      properties:
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
        pagination:
          $ref: '#/components/schemas/Pagination'

    ProcessPaymentRequest:
      type: object
      required: [patient_id, amount, payment_method]
      properties:
        patient_id:
          type: integer
        amount:
          type: number
        currency:
          type: string
          default: USD
        payment_method:
          type: string
        appointment_id:
          type: integer
        metadata:
          type: object

    AnalyticsResponse:
      type: object
      properties:
        overview:
          type: object
          properties:
            totalPatients:
              type: integer
            totalProviders:
              type: integer
            totalAppointments:
              type: integer
            totalRevenue:
              type: number
        appointments:
          type: object
          properties:
            byStatus:
              type: object
            byType:
              type: object
            daily:
              type: array
              items:
                type: object
        claims:
          type: object
          properties:
            total:
              type: integer
            approved:
              type: integer
            denied:
              type: integer
            pending:
              type: integer
        revenue:
          type: object
          properties:
            daily:
              type: array
              items:
                type: object
            byPaymentMethod:
              type: object
